#page-container {
    position: relative;
    min-height: 100vh;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: top;
   
    background-color: rgba(247, 247, 247, 0.925);
  }
  
#content-wrap {
    padding-bottom: 2.5rem;   
  }